<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      AYUDA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="font_mont">
  <div class="contenido">
    <div class="intro">
      <b>En caso de necesitar ayuda, contactarse con:</b>
    </div>

    <ion-card>
      <ion-item>
        <ion-icon class="icon" name="contact" slot="start"></ion-icon>
        <ion-label class="font_mont"><b>Luis Francisco Amar</b></ion-label>
      </ion-item>

      <ion-card-content class="font_mont">
        Coordinador de Campus Sostenible
        <br />
        lfamar@uao.edu.co
        <br />
        ext. 12345
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-icon class="icon" name="contact" slot="start"></ion-icon>
        <ion-label class="font_mont"><b>Valentina Aponte</b></ion-label>
      </ion-item>

      <ion-card-content class="font_mont">
        Profesional de Campus Sostenible
        <br />
        vaponte@uao.edu.co
        <br />
        ext. 12345
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
